<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.projectname }} | {{ page.subject }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Note: the stylesheet on the next line refers to the base directory of the username.github.io repository. Remove the leading / before assets to use this repository's stylesheet.  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="wrapper">
    <div class="header">
            <span>{{ site.title }}
                <br>
                {{ site.headerDescription }}
            </span>
    </div>

    <div class="navbar">
<!-- Mobile Nav  -->
    <div class="mobileNav">
        <ul id="menu">
          <li>
            <input id="check01" type="checkbox" name="menu"/>
            <label for="check01"><i class="fas fa-bars fa-fw"></i></label>
            <ul class="submenu">
        <li><a href="index.html" class="{% if page.subject == "Syllabus" %} active {% endif %}"><i class="fas fa-file-alt fa-fw" style="{% if page.subject == "Syllabus" %}color:#4CAF50 {% endif %}"></i> Syllabus</a></li>
        <li><a href="content.html" class="{% if page.subject == "Content" %} active {% endif %}"><i class="fas fa-book fa-fw" style="{% if page.subject == "Content" %}color:#4CAF50 {% endif %}"></i> Content</a></li>
        <li><a href="how_to_succeed.html" class="{% if page.subject == "How to Succeed" %} active {% endif %}"><i class="fas fa-check fa-fw" style="{% if page.subject == "Research" %}color:#4CAF50 {% endif %}"></i> Tips</a></li>
            </ul>
          </li>
               <div class="headerTitle">{{ site.title }}<br>{{ site.headerDescription }}</div>

        </ul>
    </div>
    <!-- Standard Nav  -->
    <div class="standardNav">
        <li><a href="index.html" class="{% if page.subject == "Syllabus" %} active {% endif %}"><i class="fas fa-file-alt fa-fw" style="{% if page.subject == "Syllabus" %}color:#4CAF50 {% endif %}"></i> Syllabus</a></li>
        <li><a href="content.html" class="{% if page.subject == "Content" %} active {% endif %}"><i class="fas fa-book fa-fw" style="{% if page.subject == "Content" %}color:#4CAF50 {% endif %}"></i> Content</a></li>
        <li><a href="how_to_succeed.html" class="{% if page.subject == "How to Succeed" %} active {% endif %}"><i class="fas fa-check fa-fw" style="{% if page.subject == "Research" %}color:#4CAF50 {% endif %}"></i> Tips</a></li>
    </div>
    </div>

    <div class="content">
      {{ content }}
    </div>
      <div class="contentFooter">
          <a href="mailto:{{ site.emailName }}@{{ site.emailDomain }}"><i class="fas fa-envelope fa-lg"></i> Email</a> |
          <a href="https://github.com/{{ site.github }}"><i class="fab fa-github fa-lg"></i> Github</a>
      </div>

</div>
  </body>
</html>
